[submodule "external/imgui-filebrowser"]
	path = external/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule "external/imgui/src"]
	path = external/imgui/src
	url = https://github.com/ocornut/imgui.git
[submodule "subprojects/Conemap"]
	path = subprojects/Conemap
	url = elte-git:wagnerandris/Conemap.git
	branch = thesis
