[submodule "external/imgui-filebrowser"]
	path = subprojects/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule "subprojects/Conemap"]
	path = subprojects/Conemap
	url = elte-git:wagnerandris/Conemap.git
	branch = thesis
